body {
    background-color: #EBEAE7;
    text-align: center;
}

div#interface {
    width: 100%;
}

header#cabecalho {
    height: auto;
    background-color: #614AEB;
    display: flex;
}

header#cabecalho h1 {
    color: white;
    margin: 0;
}

.hidden {
    display: none;
}

section#corpo h2{
    color:  #614AEB;
    margin: 0;
}


div#caixa {
    width: 200px;
    height: 50px;
    border: 1px solid #000000;
    box-sizing: border-box;
}
div#fora p {
    text-align: center;
    margin: 0;
    color: #000000;
    font-size: 14px;
}

div#container{
    display: flex;
    justify-content: center;
}

table#tabela{
    width: 100%;
    margin-top: 20px;
    border: 1px solid #000000;
    border-collapse: collapse;
    justify-content: center;
    
} 

table#tabela td{
    border: 1px solid #000000;
    justify-content: center;
}

table#fundo td{
    background-color: #1884cc;
    color: white;
}

