body {
    background-color: #f0ebeb;
    text-align: center;
    flex-direction: column;
    color: #1d1818;
}

div#interface {
    text-align: center;
    margin: -8px -8px 0px -8px;
}

header#cabecalho {
    height: auto;
    background-color: #614AEB;
}

header#cabecalho h1 {
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
}

p#aviso {
    color: #ff0000;
    font-weight: bold;
    margin-top: -20px;
}

.hidden {
    display: none;
}

.space {
    margin: 0 20px 0 20px;
}

section#corpo h2 {
    color: #614AEB;
    margin: 0;
}

div#container {
    display: flex;
    justify-content: center;
}

table#tabela,
table#tabela2 {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    justify-content: center;
}

th {
    border: 5px solid #f0ebeb;
    border-radius: 12px;
    padding: 7px;
    color: #f0ebeb;
    background-color: #614AEB;
}

table#tabela td.celula,
td#vetorResultados {
    background-color: #c7c6cc;
    border: 5px solid #f0ebeb;
    border-radius: 12px;
    padding: 5px;
}

.botoes {
    display: flex;
    justify-content: space-evenly;
}

input.campo {
    background-color: transparent;
    border: 0px;
    justify-content: center;
    color: #1d1818;
}

::placeholder {
    color: rgb(70, 70, 70);
}

.button {
    background-color: #614AEB;
    color: #f0ebeb;
    border-top: 1px solid rgba(135, 114, 255, 0.938);
    border-left: 1px solid rgba(135, 114, 255, 0.938);
    border-bottom: 5px solid rgb(48, 36, 117);
    border-right: 5px solid rgb(48, 36, 117);
    border-radius: 7px;
    padding: 10px;
}

.button:hover {
    background-color: rgb(126, 109, 223);
}

button#remover {
    background-color: #614AEB;
    letter-spacing: 1px;
    color: #f0ebeb;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
}

button#remover:hover {
    background-color: rgb(72, 57, 156);
}

.removerbtn {
    background-color: transparent;
}

.qdadeAli {
    border: 5px solid #f0ebeb;
    border-radius: 12px;
    padding: 7px;
    color: #f0ebeb;
    background-color: #614AEB;
    width: 30%;
}

td#vetorNomes {
    border: 5px solid #f0ebeb;
    border-radius: 12px;
    padding: 7px;
    color: #f0ebeb;
    background-color: #614AEB;
}