@font-face {
    font-family: 'FonteCabecalho';
    font-weight: normal;
    font-style: normal;
    src: url('../fontes/Waffle.otf');
}

@font-face {
    font-family: 'FonteCorpo';
    font-weight: normal;
    font-style: normal;
    src: url('../fontes/Nunito.ttf');
}

header#cabecalho{
    font-family: 'FonteCabecalho';
    font-size: 2.4em;
}

section#corpo h2{
    font-family: 'FonteCabecalho';
    font-size: 2em;
}

section#corpo h3{
    font-family: 'FonteCabecalho';
    font-size: 1.6em;
}

p{
    font-family: 'FonteCorpo';
    font-size: 1.4em;
}

tr#fundo, .qdadeAli{
    font-family: 'FonteCabecalho';
    font-size: 1.6em;
}

::placeholder, input{
    font-family: 'FonteCorpo';
    font-size: 1.2em;
}

section#balanceamento h2{
    font-family: 'FonteCabecalho';
    font-size: 2.4em;
}

button{
    font-family: 'FonteCabecalho';
    font-size: 1.8em;
}

button#remover{
    font-family: 'FonteCabecalho';
    font-size: 1.2em;
}

th#vetorResultado{
    font-family: 'FonteCorpo';
    font-size: 1.2em;
}